<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jarosław Stadnicki - MVC tutorial</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        Your option are:<br />
        <a href="/Home/Secret">Secret view</a><br />
        <a href="/Home/IDontNeedModel">I dont need a model</a><br />
        <a href="/Home/WithoutLayout">Without layout</a><br />
        <a href="/Home/ReallyWithoutLayout">This time really without layout</a><br />
        <a href="/Home/NoMatchingViewFound">you wont find me</a><br />
    </div>
    <div>
        Today we all use layouts
    </div>
</body>
</html>
