@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>.NET Core ASP.MVC Ultra Awesome ToDo Applition</title>
</head>
<body>
<div>
    .NET Core ASP.MVC Ultra Awesome ToDo Applition - the proper part
</div>
</body>
</html>