@using MvcCoreTodo.Controllers
@model List<TodoItem>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>.NET Core ASP.MVC Ultra Awesome ToDo Applition</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>What</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Text</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>